-e git+https://github.com/Spine-project/Spine-Database-API.git#egg=spinedb_api
-e git+https://github.com/Spine-project/spine-engine.git#egg=spine_engine
-e git+https://github.com/Spine-project/Spine-Toolbox.git#egg=spinetoolbox
gdx2py >= 2.1.1  # Required by test_GdxExporterExecutable
-e .
